@font-face {
    font-family: Supermolot; /* Гарнитура шрифта */
    src: url("../fonts/Supermolot.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Supermolot-light; /* Гарнитура шрифта */
    src: url("../fonts/SupermolotLight.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Supermolot-Bold-Italic; /* Гарнитура шрифта */
    src: url("../fonts/Supermolot-Bold-Italic.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Supermolot-Light-Italic; /* Гарнитура шрифта */
    src: url("../fonts/Supermolot-Light-Italic.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Supermolot-Thin-Italic; /* Гарнитура шрифта */
    src: url("../fonts/Supermolot-Thin-Italic.otf"); /* Путь к файлу со шрифтом */
}

.nav-link {
    font-family: "Supermolot", sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.cart-info, .cart-icon {
    display: table-cell;
    vertical-align: middle;
}

.title-sales {
    display: block;
    padding-bottom: 10px;
}

.cart-price {
    font-family: "Supermolot", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: table-row;
}

.count-product {
    font-family: "Supermolot", sans-serif;
    font-size: 12px;
    color: white;
    display: table-row;
}

.nav-header {
    background: white;
}

body {
    background: #e4e0d6;
}

.auth-profile {
    float: right;
}

.fa-shopping-cart {
    color: white;
    font-size: 23px;
    float: right;
}

.new-product {
    background: white;
    margin-top: 30px;
    padding: 20px;
}

.my-container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

.cart {
    max-width: 100%;
    max-height: 57px;
    float: right;
    margin-top: 15px;
}

.cart-page {
    display: table;
}

.carusel {
    margin-top: 15px;
}

/*PRODUCT*/

.product-page {
    margin-top: 30px;
    overflow: hidden;
    background: white;
}

/*.border {*/
    /*border: 1px solid red;*/
/*}*/

.container-img {
    max-width: 470px;
}

.product-title {
    font-family: "Supermolot-Light-Italic", sans-serif;
    font-size: 36px;
}

.border-product {
    width: 100%;
    border-bottom: 3px solid #5bc0de!important;
    margin-bottom: 10px;
}

.product-description {
    text-align: justify;
    font-family: "Supermolot-light", sans-serif;
    font-size: 14px;
    color: rgb(85, 85, 85);
    display: inline-block;
}

.product-price {
    margin-top: 15px;
    width: 100%;
    height: 108px;
    display: table;
    border: 1px solid rgb(219, 219, 219);
}

.product-purchase {
    width: 100%;
    height: 70px;
    display: table;
    border: 1px solid rgb(219, 219, 219);
}

.product-price > .price {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Supermolot-Bold", sans-serif;
    font-size: 26px;
    color: #5bc0de!important;
}

.product-price > .status-product {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}

.page-by {
    display: table-cell;
    vertical-align: middle;
}

.btn-add {
    display: block;
    margin: 0 auto;
}

.category-name {
    font-family: "Supermolot-Thin-Italic", sans-serif;
    font-size: 400%;
    text-transform: uppercase;
    color: black;
}

.category-href {
    text-transform: uppercase;
    color: #5bc0de!important;
    border-bottom: 1px solid #5bc0de!important;;
}

.category-page {
    margin-top: 50px;
}

.img-product {
    margin: 0 auto;
    max-height: 233px;
}

.user-data {
    margin-top: 30px;
}

.profile-h2 {
    font-weight: bold;
    font-style: italic;
}

.img-cart {
    height: 120px;
}

.itog_price {
    float: right;
}

.itog_price_style {
    font-family: "Supermolot-Bold", sans-serif;
    font-style: italic;
    font-size: 24px;
}

label > span {
    font-size: 16px;
}

.author-photo {
    display: block;
    margin: 0 auto;
}

.author-name, author-job {
    padding-top: 10px;
    text-align: center;
}

.author-job {
    padding-top: 5px;
    text-align: center;
    font-weight: 900;
    font-style: italic;
}

.author-position {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #345;
}

.container_theme_title {
  display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    color: #5bc0de!important;
    border-bottom: 1px solid #5bc0de!important;
    cursor: pointer;
}

.container_theme {
  margin-top: 20px;
  display: none;
}

.container_theme__jordy_blue_lapis_lazuri_color {
  height: 150px;
  background-color: #89C4F4;
  cursor: pointer;
}

.container_theme__jordy_blue_lapis_lazuri_color__top {
  height: 30px;
  background-color: #1F4788;
}

.container_theme__jungle_green_thousand_herb {
  height: 150px;
  background-color: #317589;
  cursor: pointer;
}

.container_theme__jungle_green_thousand_herb__top {
  height: 30px;
  background-color: #2ABB9B;
}

.container_theme__vk {
  margin-top: 20px;
  height: 150px;
  background-color: #edeef0;
  cursor: pointer;
}

.container_theme__vk__top {
  height: 30px;
  background-color: #507299;
}

.container_theme__ok {
  margin-top: 20px;
  height: 150px;
  background-color: #f2f0ed;
  cursor: pointer;
}

.container_theme__ok__top {
  height: 30px;
  background-color: #ee8208;
}

.my-alerts {
  margin-top: 1%;
}