@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #f1f1f0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center
}

#section-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 300px;
}

.app {
    width: 45%;
    margin: 0 auto;
}

.section-content__title {
    text-align: center;
    font-size: 28px;
}

.download {
    display: block;
    text-decoration: none;
    background: #5f84b5;
    width: 110px;
    padding: 15px 40px;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.download:hover {
    background: #4f84b5;
    transition: all 1s;
}